# Ignorar todo inicialmente
*

# Excepciones de carpetas y archivos específicos
!/page-template-lg/
!/page-template-lg/**
!/page-template-lg/page-gerontologia.php
!/page-template-lg/page-hemato-oncologia.php
!/page-template-lg/page-hemodinamia-adulto.php
!/page-template-lg/page-metodos-invasivos.php
!/page-template-lg/page-nefrologia-pediatrica.php
!/page-template-lg/page-neumologia-pediatrica.php

!/template-parts/
!/template-parts/especialidades/
!/style.css
!/functions.php

# Ignorar contenido específico de inc pero permitir styles-and-js.php
!/inc/
/inc/*
!/inc/ajax.php
!/inc/custom-postype.php
!/inc/functions-custom.php
!/inc/styles-and-js.php
!/inc/theme-setup.php

# ACF JSON
!/acf-json/
!/acf-json/*.json

# Mantener el gitignore
!.gitignore

# Ignorar explícitamente estas carpetas
/assets/
/blocks/
/classes/
/images/
/page-templates/
/ultimate-member/